
.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label::before{
  content: "";
  position: absolute;
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 2px solid #734EEB;
  border-radius: 3px;
  top: 3px;
}

.checkbox label::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 16px;
  width: 16px;
  background: #734EEB;
  left: 2px;
  top: 5px;
}

.checkbox {
  position: relative;
}

.checkbox label {
  padding-left: 20px;
}

.checkbox input[type="checkbox"] + label::after {
    content: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}
